vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
.env.*
!.env.example
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.vscode/
.idea/
*.DS_Store
speechtotext-server/videos
speechtotext-server/audios

# Tests
.phpunit.result.cache
phpunit.xml.bak
.phpunit.cache/

public/mix-manifest.json
public/css/app.css
public/css/theme.css
public/js/app.js
public/js/theme.js

.php-cs-fixer.cache
