option_settings:
  AWSEBV2LoadBalancerTargetGroup.aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /login
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /login
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckPath
    value: /login