option_settings:
   aws:ec2:vpc:
      VPCId: vpc-0715bc9a8a3239ac9
      AssociatePublicIpAddress: 'true'
      ELBScheme: public
      ELBSubnets: subnet-009b703ebcae308b0,subnet-0e13fda81aa3d909e,subnet-010c7c4b360607210
      Subnets: subnet-009b703ebcae308b0,subnet-0e13fda81aa3d909e,subnet-010c7c4b360607210